@{
    ViewData["Title"] = "Home Page";
}

<div class="background-container">
  
   
</div>




<style>
    .background-container {
        background-image: url('/images/bg.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        text-align: center;
        color: black;
        font-size: 2rem;
        height: 100vh;
    }
</style>

