@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<DAL.Persistence.Entities.Course>

<h2>Courses</h2>

<table id="coursesTable" class="table">
    <thead>
        <tr>
 
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    <a href="/Courses/Details/@item.Id" class="btn btn-primary btn-sm">Details</a>

                    @if (User.IsInRole("Lecturer"))
                    {
                        <a href="/Courses/Edit/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/Courses/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Lecturer"))
{
    <a href="/Courses/Create" class="btn btn-primary">Create New</a>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}