.memberBody {
    width: 100%;
    padding: 20px;
    height: 100%;
}

.upperBody {
    height: 10%;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    padding-top: 18px;
}

.middleBody {
    height: 80%;
    padding-top: 18px;
    border-radius: 7px;
}

.middleBodyEdit {
    width: 100%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    padding-top: 18px;
}

.inputBox {
    padding: 10px 20px;
}

    .inputBox label {
        font-weight: bold;
    }


.edit-Button {
    background-color: #304D70;
    color: white;
    padding: 6px 18px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border: none;
    text-decoration: none;
}

    .edit-Button:hover {
        transition: 0.5s;
        transform: scale(1.1);
        color: white;
    }

.cancelBTN {
    text-decoration: none;
    color: white;
}

    .cancelBTN:hover {
        text-decoration: none;
        color: white;
    }
