﻿.image-Logo img {
    width: 85%;
}

.side-Bar {
    background-color: white;
    /* background-color: rgba(48, 77, 112, 0.2); */
    color: black;
    width: 17%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #ECECEC;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05); */
    text-align: center;
}

    .side-Bar .image-Logo img {
        margin-top: 50px;
    }


.list-Navigation {
    height: 60%;
    width: 78%;
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center;
        justify-content: center; */
    padding: 0px;
    list-style-type: none;
}

    .list-Navigation li {
        width: 100%;
        border: 1px solid transparent;
        transition: 0.5s;
        margin-bottom: 5px;
        /* padding: 5px 10px; */
    }

        .list-Navigation li a {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: inherit;
            padding-left: 3px;
        }


.btn-style {
    display: flex;
    align-items: center;
    height: 43px;
    color: #525252;
    border: 1px solid transparent;
    font-size: 18px;
    width: 100%;
    transition: 0.5s;
    text-align: left;
    padding-left: 7px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .btn-style:hover {
        background-color: #ECECEC;
        border-radius: 6px;
        transition: 0.5s;
    }

    .btn-style img {
        width: 18px;
        margin-right: 4%;
        margin-left: 1%;
        filter: invert(0%);
        /* filter: brightness(0); */
    }

    .btn-style.active img {
        /* filter: brightness(0); */
        filter: invert(100%);
    }

    .btn-style.active {
        color: white;
        background-color: #304D70;
        border-radius: 6px;
        transition: 0.5s;
    }

body {
    font-family: 'Montserrat', sans-serif;
}

.sideBarHeadings {
    text-align: left;
    width: 100%;
    padding: 0px;
    margin-bottom: -15px;
}

.logoutBox {
    display: flex;
    background-color: rgba(48, 77, 112, 0.3);
    border-radius: 5px;
    height: 80px;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.iconPerson {
    width: 20%;
}

    .iconPerson img {
        width: 30px;
    }

.detailsPerson {
    padding-left: 5px;
    text-align: left;
    color: black;
    width: 60%;
}

    .detailsPerson p {
        margin: 0px;
    }

.buttonLogout {
    width: 20%;
}

.main-content {
    background-color: transparent;
}

.main-Background {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    display: flex;
}

/* .circleBTN {
        background-color: red;
        border-radius: 100px;
    }
 */
.circleBTN {
    /* background-color: red; */
    border: 0px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .circleBTN:hover {
        background-color: #304D70;
        transition: 0.5s;
    }

        .circleBTN:hover .fas {
            color: white;
            transition: 0.5s;
        }
